:root {
    --color-main: #212529;
    --color-main-r: 33;
    --color-main-g: 37;
    --color-main-b: 41;

    --color-secondary: #1c1e20;
    --color-secondary-r: 28;
    --color-secondary-g: 30;
    --color-secondary-b: 32;

    --color-tertiary: #fb503b;
    --color-tertiary-r: 251;
    --color-tertiary-g: 80;
    --color-tertiary-b: 59;

    --color-text: #F8F9FA;
    --color-text-r: 248;
    --color-text-g: 249;
    --color-text-b: 250;
}
